.wpapg-hr{
    border-bottom: 1px solid #c1c1c1;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
}
.wpapg{
    width: 100%;
    -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wpapg-clearfix {*zoom: 1}
.wpapg-clearfix:before, .wpapg-clearfix:after {content: "";display: table;line-height: 0}
.wpapg-clearfix:after {clear: both}

ul.pagelist{
    border: 1px solid red;
}
.wpapg-box{
    margin-bottom: 20px;
}
.wpapg-box .labele label{
    margin-bottom: 10px;
    width: 100%;
}
.wpapg-box .wpapg-input-box .inpute {
    height: auto;
    position: relative;
}
.wpapg-box .wpapg-input-box .inpute input{
    width: 100%;
}
.wpapg-box .wpapg-input-box .inpute span{
    color: red;
    position: absolute;
    height: 12px;
    width:100%;
    text-align: right;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    top:-13px;right:0;
    margin: auto;
    display: none;
}
.wpapg-box .wpapg-input-box .inpute .wpapg-upload-button{
    position: absolute;
    right: 1px;
    top: 1px;
    border-left: 1px solid #dddddd;
    width: 50px;
    height: calc(100% - 2px);
    line-height: 40px;
    padding: 0 10px;
    background: #ffffff;
    text-align:center;
    cursor: pointer;
}
.wpapg-box .wpapg-input-box .inpute .wpapg-upload-button svg{
    width: 20px;
    height: 100%;
}
.wpapg-box .wpapg-input-box .desc{
    font-style: italic;
    font-size: 14px;
    color: #a0a0a0;
}
.wpapg-box .wpapg-submit-box button{
    width: 100% !important
}

/*table style*/
.wpapg-box-table{
    position: relative;
}
.wpapg-box-table .labele{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    display: flex;align-items: center;justify-content: center;
}
.wpapg-box-table .wpapg-input-box, .wpapg-submit-box-table .wpapg-submit-box{
    float: right;
    width: 70%;
}
.wpapg-submit-box-table{
    width: 100%;
}
/*block style*/
.wpapg-box-block{
    position: relative;
}
.wpapg-box-block .labele{
    position: relative;
    width: 100%;
}
.wpapg-box-block .wpapg-input-box, .wpapg-submit-box-block, .wpapg-submit-box-block .wpapg-submit-box{
    width: 100%;
}

/*inline style*/
.wpapg-box-inline{
    position: relative;
    width: 49%;
    vertical-align: top;
    display: inline-block;
}
.wpapg-box-inline:nth-child(even){
    float: right
}
.wpapg-box-inline .labele{
    position: relative;
    width: 100%;
}
.wpapg-box-inline .wpapg-input-box{
    width: 100%;
}
.wpapg-submit-box-inline, .wpapg-submit-box-inline .wpapg-submit-box{
    width: 100%;
}

.wpapg-result{
    text-align: center;
    padding: 100px 0;
    position: relative;
    background: #f7f7f7;
    border: 1px solid #4CAF50;
    display: none;
}
.wpapg-result-action{
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.wpapg-result-action a button{
    display: inline-block;
    width: 110px;
    position: relative;
}

[wpapgtooltip]{
  position:relative;
  display:inline-block;
}
[wpapgtooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:1;
}

[wpapgtooltip]::after {
    content: attr(wpapgtooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 12px;
    min-width: 80px;
    border-radius: 5px;
    pointer-events: none;
    padding: 4px 4px;
    z-index:99;
    opacity:1;
}
@media only screen and (max-width: 500px) {
    .wpapg-box-inline{
        width: 100%;
    }
    .wpapg-box-inline:nth-child(even){
        float: none
    }
}
