
.dashicons.spin {
   animation: dashicons-spin 1s infinite;
   animation-timing-function: linear;
}

@keyframes dashicons-spin {
   0% {
      transform: rotate( 0deg );
   }
   100% {
      transform: rotate( 360deg );
   }
}

.wpapg{
    padding: 20px;
    background: #ffffff;
}
.wpapg .wpapg-shortcode-form-generator{
    margin-bottom: 30px;
}
.wpapg .wpapg-shortcode-enable{
    margin-bottom: 30px;
}
.wpapg .wpapg-shortcode-enable .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}
.wpapg .wpapg-shortcode-enable .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.wpapg .wpapg-shortcode-enable .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.wpapg .wpapg-shortcode-enable .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.wpapg .wpapg-shortcode-enable .slider:after {
  position: absolute;
  content: "OFF";
  height: 16px;
  width: 16px;
  right: 10px;
  bottom: 6px;
  color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.wpapg .wpapg-shortcode-enable input:checked + .slider {
  background-color: #2196F3;
}

.wpapg .wpapg-shortcode-enable input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.wpapg .wpapg-shortcode-enable input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.wpapg .wpapg-shortcode-enable input:checked + .slider:after {
    position: absolute;
    content: "ON";
    height: 16px;
    width: 16px;
    left: 7px;
    bottom: 6px;
    color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


table.wpapg-input-box{
}
table.wpapg-input-box tr td{
    position: relative;
}
table.wpapg-input-box input {
    width: 100%;
    padding: 7px;
}
table.wpapg-input-box .wpapg-copy{
    position: absolute;
    right: 15px;
    top: 18px;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    z-index: 99;
    color: blue;
}

table.wpapg-addon-domain-box{
}
table.wpapg-addon-domain-box tr td{
    position: relative;
}
table.wpapg-addon-domain-box input {
    width: 100%;
    padding: 7px;
}

.select2-container {
  z-index: 100051; /*#TB_window uses 100050*/
}

.wpapg-template{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 99999999;
    display: none;
}

.wpapg-template-box {
    background: #ffffff;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
}

.wpapg-template-box-head{
    height: 50px;
    position: relative;
}
.wpapg-template-box-head h3{
    line-height: 50px;
    padding-left: 10px;
    font-size: 16px;
}
.wpapg-template-box-head .wpapgCloser{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    color: #a4afb7;
    text-align: center;
}
.wpapg-template-box-head .wpapgCloser span{
    color: #a4afb7;
    font-size: 30px;
    line-height: 50px;
    cursor:pointer;
}
.wpapg-template-box-list{
    height: calc(100% - 54px);
    background: #F1F3F5;
    padding: 10px;
    text-align: center;
    position: relative;
    overflow-y: auto;
}
.wpapg-template-box-list-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0,0,0,.9);
    display: none;
}
.wpapgTemplate{
    width: 200px;
    position: relative;
    background: #ffffff;
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-right: 5px;
    height: 180px;
    vertical-align: top;
}
.wpapgTemplate img{
    width: 100%;
}
.wpapgTemplate .wpapgTemplate-title{
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    padding: 5px 10px;
}
.wpapgTemplate .wpapgTemplate-action{
    height: 30px;
    border-top: 1px solid #f1f1f1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.wpapgTemplate .wpapgTemplate-action .wpapgImporter{
    float: left;
    line-height: 30px;
    font-size: 10px;
    margin-left: 10px;
    font-weight: bold;
    color: #39b54a;
    cursor: pointer;
}
.wpapgTemplate .wpapgTemplate-action .wpapgPreview{
    float: right;
    line-height: 30px;
    font-size: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: #39b54a;
    cursor:pointer;
}
.wpapgTemplate .wpapgTemplate-action span{
    font-size: 10px;
    line-height: 30px;
}
